<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="/static/img/favicon.png">
  <title>Unique Srorrim</title>


  <link href="/static/css/bootstrap.css" rel="stylesheet">
  <link href="/static/css/style.css" rel="stylesheet">
  <link href="/static/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/css/spinkit.css" rel="stylesheet">
  <script src="/static/js/jquery-2.1.1.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/markup.min.js"></script>
  <script src="/static/js/marked.min.js"></script>
  <style>
    .clickable {
      cursor: pointer
    }
  </style>
</head>
<body>

<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Unique Srorrim</a>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li class="active"><a href="http://srorrim.cubarco.org">SRORRIM</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>


<div id="mirrors">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-info">
          <ul>
            <li><strong>本站带宽资源有限，为了您和他人可以长久使用本站服务，请勿使用迅雷下载本站内容。</strong></li>
          </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 table-responsive">
        <h3># 镜像源列表 </h3>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Last Update</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody id="mirror-list">
          </tbody>
        </table>
      </div>
    </div>

  </div><!--/container -->
</div><!--/service -->



<div id="footerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <p>本站基于来自清华 TUNA 的 <a href="https://github.com/tuna/tunasync"><em>镜像管理器</em></a> 和 <a href="https://github.com/tuna/mirror-web"><em>镜像站网页</em></a> 。</p>
      </div>
    </div><!--/row -->
  </div><!--/container -->
</div><!--/footerwrap -->

<div id="HelpModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Help Message</h4>
      </div><!--modal-header-->
      <div class="modal-body">
      </div>
    </div><!--modal-content-->
  </div><!--modal-dialog-->
</div><!--/HelpModal-->

</body>

<template id="spinner">
  <div class="sk-spinner sk-spinner-wave">
    <div class="sk-rect1"></div>
    <div class="sk-rect2"></div>
    <div class="sk-rect3"></div>
    <div class="sk-rect4"></div>
    <div class="sk-rect5"></div>
  </div>
</template>

<script id="template" type="x-tmpl-markup">
{{mirrors}}
<tr>
  <td>
    <a href="/{{name}}">{{name}}</a>
	{{ if is_new }}<span class="label label-new">new</span>{{/if}}
    {{if help}}<i class="fa fa-question-circle clickable" data-toggle2="tooltip" data-toggle="modal" data-target="#HelpModal" data-help="{{help}}" data-placement="right" title="Help"></i>{{/if}}
  </td>
  <td>{{last_update}}</td>
  <td><span class="label label-status {{label}}">{{status}}<span></td>
</tr>
{{/mirrors}}
</script>

<script type="text/javascript">
$(document).ready(function(){
  var mir_tmpl = $("#template").text(),
      label_map = {
        'unknown': 'label-default',
        'syncing': 'label-info',
        'success': 'label-success',
        'fail': 'label-warning'
      };
  var help_page = {
      'AOSP': '/wiki/aosp.md',
      'archlinuxcn': '/wiki/archlinuxcn.md',
      'homebrew': '/wiki/homebrew.md',
      'linux.git': '/wiki/linux.md',
      'nodesource': '/wiki/nodesource.md',
      'pypi': "wiki/pypi.md",
      'docker': "wiki/docker.md",
      'raspbian': 'wiki/raspbian.md',
      'repo-ck': 'wiki/repo-ck.md',
      'rpmfusion': 'wiki/rpmfusion.md',
      'ubuntu': 'wiki/ubuntu.md',
      'lxc-images': 'wiki/lxc-images.md'
  }
  var new_mirrors = {
		'ius': true,
		'elrepo': true,
		'ubuntu-ports': true,
		'lxc-images': true
  }

  $('#HelpModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var help_url = button.data('help')
    var modal = $(this)
    var modal_body = modal.find('.modal-body')
    var spinner = $('template#spinner')
    modal_body.html(spinner.html())
    $.get(help_url, function(data) {
      if (help_url.match(/\.md$/)) {
        data = marked(data)
      }

      modal_body.html(data)
    })
  })

  window.refreshMirrorList = function() {
    $.getJSON("/static/tunasync.json", function(data) {
      var mirrors = [];
      for(var k in data) {
          var d = data[k];
          d['label'] = label_map[d['status']];
          d['help'] = help_page[d['name']];
          d['is_new'] = new_mirrors[d['name']];
          // Strip the second component of last_update
          d['last_update'] = d['last_update'].replace(/(\d\d:\d\d):\d\d/, '$1');
          mirrors.push(d);
      }
      var result = Mark.up(mir_tmpl, {mirrors: mirrors});
      $('#mirror-list').html(result);
      $('#mirror-list i[data-toggle2="tooltip"]').tooltip()
    });
    setTimeout(refreshMirrorList, 10000);
  }
  refreshMirrorList();

  $.getJSON("/static/tunet.json", function(alert) {
    if (alert) {
      $('#thu-alert').removeClass('hidden');
    };
  });


});
</script>

</html>
